body{
    background-color: white;
}

.profileImage{
    border-radius: 50%;
    width: 75px; 
    height: 75px;
}

.mgt{
    margin-top: 19px;
}
  
.copyright{
    text-align: center;
}
.pd-right-0{
    padding-right:0;
}

.pd-left-0{
    padding-left:0;
}

.footer{
	margin-top: 5% !important;
    margin-bottom: 10px;					
}

@media (max-width: 479px) {
	.footer{
    	margin-top: 35% !important;
    }   
    .headerImage{
        width: 330px !important;
        height: 110px !important;
        padding: 0 !important;
        background-image: url(images/TitleImageSmall.jpg) !important;
    }
}

.name{
    color: #800080;
}

.headerImage{
    width: 1110px;
    height: 250px; 
    padding: 0 70px;
    background-image: url(images/TitleImageBig.jpg);
}

.profile{
    text-align: center;
}

.text{
    text-align: center;
}

.btn-outline {
    border-color: #800080;
    color: #800080;
}
    
.btn-outline:hover {
    background: #800080;
    color: white;
}

.footerline{
    background-color:#800080
}

.profiles{
    border: #800080 2px solid
}